<nav id="menu" class="menu" >
  <ul class="menu-section-list">
    <li data-url='index'>首頁</li>
    <li data-url='ingredient'>成分超進化</li>
    <li data-url='ingredient2'>美肌保濕成分</li>
    <li data-url='products'>入手安耐曬</li>
    <li data-url='beauty' class='beautyMenuBtn'>美肌神人開箱</li>
    <li data-url='form'>免費體驗衝一波</li>
  </ul>
</nav>